<tr id="issue_<%= dom_id(issue)%>" class=" <%= issue.is_open ? "has-background-warning" : "" %>">
  <td><%= issue.kilometer %></td>
  <td><%= issue.text %></td>
  <% if issue.is_open %>
    <td><%= link_to 'Close', toogle_published_issue_path(issue), data: { turbo_method: :post }, class: "button is-primary" %></td>
  <% else %>
    <td><%= link_to 'Open', toogle_published_issue_path(issue), data: { turbo_method: :post }, class: "button is-danger" %></td>
  <% end %>
</tr>
