<%= form_with(model: department, id: "department_form") do |form| %>
  <% if department.errors.any? %>
    <div class="message is-danger mt-3">
      <div class="message-header">
        <h2><%= pluralize(department.errors.count, "error") %> prohibited this department from being saved:</h2>
      </div>

      <div class="message-body">
        <ul>
          <% department.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class: "label" %>
    <%= form.text_field :name, class: "input" %>
  </div>

  <div class="actions">
    <%= form.submit class: "button"%>
  </div>
<% end %>
