<%= form_with(model: vehicle) do |form| %>
  <% if vehicle.errors.any? %>
    <div class="message is-danger mt-3">
      <div class="message-header">
        <h2><%= pluralize(vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>
      </div>

      <div class="message-body">
        <ul>
          <% vehicle.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class: "label" %>
    <%= form.text_field :name, class:"input", required: true %>
  </div>

  <div class="field">
    <%= form.label :license_plate, class: "label" %>
    <%= form.text_field :license_plate, class:"input" %>
  </div>

  <div class="field">
    <div class="select is-multiple">
      <%= form.label :brand_id, class: "label" %>
      <%= form.collection_select :brand_id, Brand.all, :id, :name, {selected: vehicle.brand_id}, {class: "multiple", required: true} %>
    </div>
  </div>

  <div class="field">
    <div class="select is-multiple">
      <%= form.label :department_id, class: "label" %>
      <%= form.collection_select :department_id, Department.all, :id, :name, {selected: vehicle.department_id}, {class: "multiple", required: true} %>
    </div>
  </div>

  <div class="field">
    <%= form.label :serial_number, class: "label" %>
    <%= form.text_field :serial_number, class:"input" %>
  </div>

  <div class="field">
    <%= form.label :tax_horsepower, class: "label" %>
    <%= form.number_field :tax_horsepower, class: "input" %>
  </div>

  <div class="actions">
    <%= form.submit class: "button"%>
  </div>
<% end %>
